<%- include("partials/header") -%> 

<p><%= homeContent %> </p>



<% posts.forEach(function(postss){%>
    <h1><%=postss.title %> </h1>
    
    <p><%=postss.blogpost.substring(0, 300) + "...."%>
        <a href="/post/<%=postss.title %>">Read More</a>
    </p>
  
<%}) %> 

<%- include("partials/footer") -%> 


